.background-line
  span
    padding: 0 20px;
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif;
  display table
  white-space nowrap

.background-line:before, .background-line:after {
  border-top: 1px solid silver;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.6em;
  width: 50%;
}
